html{
	height: 100%;
}
body{
	background: url("http://data.1freewallpapers.com/download/avengers.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 100%;
}

header{
	width: 100%;
	background-color: #e8e8e8;
	opacity: .875;
}
#homeTitle{
	font-size: 50px;
	/*Marvel Logo Red*/
	color: #f0141e; 
	display: block;
	text-shadow: 3px 3px 3px #636363;
}

#newSearchButton{
	display: none;
	margin: 0 auto;
}

.characterContainer, .comicsContainer{
	display: none;
}

#instructions{
	width: 75%;
	margin: 0 auto;
}

.submitButtonContainer, .submitButtonRandomContainer{
	width: 25%%;
	display: inline-block;
}

.comicTitle, .characterName{
	/*border:2px solid red;*/
	text-align: center;
}

.searchBar{
	width: 50%;
	height: 25%;
	font-size: 24px;
	margin: auto;
	background-color: #e8e8e8;
	opacity: .875;
	color: #f0141e;
	text-align: center;
}

#submitButton, #submitButtonRandom{
	width: 100%;
	height: 25%;
	font-size: 16px;
	background-color: #e8e8e8;
	opacity: .95;
	color: #f0141e;
	text-shadow: 1px 1px 1px #636363;
}

::placeholder{
	color: #f0141e;
	text-align: center;
}

.characterThumbnail{
	width: 100%;
	height: 100%;
}

.coverImg{
	width: 40%;
	height: 40%;
	padding: 0 0;
	margin: auto;
	flex: 0 0 auto;
	float: left;
}

.comicTitle, .comicDescription, .comicCoverImg, .characterDescription, .characterImg, .characterName{
	text-align: left;
	padding: 5px 15px;
}

.characterName{
	text-align: center;
}

.characterDescription{
	font-size: 20px;
}

.scrollingCarousel{
	display: flex;
  	flex-wrap: nowrap;
  	overflow-x: auto;
  	-webkit-overflow-scrolling: touch;
}

