html {
	height: 100%;
	margin: 0;
}
body {
	background: url("https://data.1freewallpapers.com/download/avengers.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 100%;
	font-family: 'Permanent Marker', cursive;
}

header {
	width: 100%;
	background-color: #f0141e;
}

main {
	min-height: 100%;
	margin-bottom: -40px;
}

footer {
   	width: 100%;
   	color: black;
}

#homeTitle {
	font-size: 46px;
	margin: 0 0 auto;
	color: #ffffff; 
	display: block;
	text-shadow: 3px 3px 3px #636363;
	font-family: 'Bangers', cursive;
}

#newSearchButton {
	width: 25%;
	display: none;
	font-size: 16px;
	margin: 30px auto;
	margin-bottom: 60px;
	background-color: #ffffff;
	opacity: .90;
	color: #f0141e;
	text-shadow: 1px 1px 1px #636363;
}

.characterContainer, .comicsContainer {
	display: none;
}

.comicsContainer {
	margin-top: 46px;
	margin-bottom: 20px;
}

#instructions, #nothingError {
	width: 75%;
	font-size: 20px;
	margin: 0 auto;
}

.submitButtonContainer, .submitButtonRandomContainer {
	width: 25%;
	display: inline-block;
}

.comicTitle, .characterName {
	text-align: center;
}

.searchBar {
	width: 75%;
	height: 25%;
	font-size: 20px;
	margin: 4px auto;
	margin-bottom: 0;
	border: none;
	padding: 0;
	background-color: #f0141e;
	opacity: .875;
	color: #ffffff;
	float: left;
    display: inline;
    text-align: center;
    position: relative;
    left: 11.91%;
}

#submitButton, #submitButtonRandom {
	width: 100%;
	height: 25%;
	font-size: 16px;
	margin: 10px auto;
	background-color: #ffffff;
	opacity: .90;
	color: #f0141e;
	text-shadow: 1px 1px 1px #636363;
}

::placeholder {
	color: #ffffff;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}

.characterThumbnail {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.coverImg {
	height: 30%;
	padding: 0 0;
	margin: auto;
	flex: 0 0 auto;
	border-radius: 10px;

}

.comicTitle, .comicDescription, .comicCoverImg, .characterDescription, .characterImg {
	text-align: left;
	padding: 5px 15px;
}

.characterName {
	text-align: left;
	font-size: 24px;
	margin: 0 0 auto;
}

.errorMessage {
	font-size: 20px;
	background-color: #f0141e;
	color: #ffffff;
	width: 75%;
	margin: 10px auto;
}

h3, h4 {
	background-color: #f0141e;
	color: #ffffff;
	padding: 4px;
	width: 85%;
	margin: 10px auto;
	opacity: .85;
}

h2 {
	margin: 4px 4px auto;
}

.marvelAttr {
	text-align: left;
	font-size: 11px;
	margin-bottom: 10px;
}

.connect{
	width: 7%;
	height: 7%;
	margin-bottom: 10px;
}

.creator {
	text-align: right;
	font-size: 11px;
	margin-bottom: 10px;
}

.hidden {
	display: none;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border: 1px solid red;
}

.carousel-indicators .active {
	width: 14px;
	height: 14px;
}

.imgContainer {
	height: 50%;
}

.carousel .item {
  height: 300px;
}

.item img {
}

.footer, .push {
  height: 20px;
}

/************************Autocomplete Form*************************/
.autocomplete {
	position: relative;
	display: inline-block;
}

#autocomplete-list {
	width: 75%;
	height: 25%;
	font-size: 16px;
	margin: 0 auto;
	background-color: #f0141e;
	opacity: .775;
	color: #ffffff;
	text-align: center; 
	float: left;
    display: inline;
    text-align: center;
    position: relative;
    left: 11.91%;
}

.autocomplete-items {
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
	width: 100%;
	height: 25%;
	font-size: 18px;
	margin: 0 auto;
	/*background-color: #f0141e;*/
	opacity: .975;
	color: #ffffff;
	text-align: center;
}

.autoName {
	background-color: #000;
	border-bottom: 1px solid #fff;
}

.autocomplete-items div {
	background-color: black;
	cursor: pointer;
}

.autocomplete-active {
	background-color: #f0141e !important;
	color: #ffffff;
	/*cursor: pointer;*/
}

/************************Loading Animation*************************/

.loaderTop, .loaderBottom {
  color: black;
  font-size: 50px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 60px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 420px) {
	#homeTitle {
		font-size: 30px;
	}
	.marvelAttr {
		text-align: center;
		font-size: 11px;
		margin-bottom: 10px;
	}

	.connect{
		width: 7%;
		height: 7%;
		margin-bottom: 10px;
	}

	.creator {
		text-align: center;
		font-size: 11px;
		margin-bottom: 10px;
	}

	.searchBar {
		font-size: 18px;
		float: left;
    	display: inline;
    	text-align: center;
    	position: relative;
    	left: 11.91%;
	}

	#instructions, #nothingError, .errorMessage {
		font-size: 18px;
	}

	#submitButton, #submitButtonRandom, #newSearchButton {
		font-size: 12px;
	}

	h2 {
		font-size: 22px;
		text-align: center;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 16px;
	}

	#autocomplete-list {
		float: left;
    	display: inline;
    	text-align: center;
    	position: relative;
    	left: 11.91%;
	}

	.autocomplete-items {
		font-size: 13px;
		width: 100%;
	}
}